@use '../abstrats' as *;

.blog-card {
	transition: all 0.3s ease;
	width: 100%;
	height: 100%;
	border: 1px solid var(--white);
	display: flex;
	flex-direction: column;

	&__hover {
		&:hover {
			transform: scale(1.05);
		}
	}

	

	&__image-wrapper {
		display: flex;
		position: relative;
		

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			bottom: 0;
			left: 0;
			background-image: var(--gradient-card-image);
		}
	}

	&__image {
		width: 100%;
		height: 100%;
	}

	&__content {
		
		background-image: var(--gradient-card);
		padding: 1rem 2rem;
		display: flex;
		flex-direction: column;
		flex: 1;
		gap: 0.75rem;
	}

	&__topic {
		font-size: 0.75rem;
		color: var(--brand);
	}

	&__title {
		color: var(--white);
		margin-bottom: unset;
	}

	&__text {
		color: var(--text);
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
	}
	&__profile-image {
		flex: 0 1 auto;
		width: 40px;
		height: 40px;

		img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
	}

	&__autor {
		display: flex;
		flex: 1 1 0;
		align-items: baseline;
		justify-content: space-between;
		gap: 1rem;
	}
	&__name {
		font-size: 0.75rem;
		font-weight: 400;
		color: var(--brand);
	}

	&__date {
		font-size: 0.75rem;
		color: var(--white);
	}
}
