@use '../abstrats' as *;

.footer {
	position: relative;
	background-color: var(--grey2);
	padding: 1rem 2rem;

	&__navigation {
		width: 100%;
		display: flex;
		flex-direction: column;

		text-align: center;

		@include respond(sm) {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			align-items: center;
		}
	}

	&__banner {
		max-width: 280px;
		margin: 0 auto;

		@include respond(sm) {
			margin: 0;
		}

		&__img {
			width: 100%;
		}
	}

	&__nav {
		display: block;
	}
	&__links {
		text-transform: uppercase;
		font-size: 0.5rem;
		font-weight: 400;
		letter-spacing: 3px;
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
		transition: all 0.3s ease;

		@include respond(xs) {
			font-size: 0.75rem;
		}

		@include respond(sm) {
			display: flex;
		}
	}

	&__link {
		color: var(--white);
		margin: 1rem auto;

		@include respond(sm) {
			margin: 0 0 0 1rem;
		}

		:hover,
		.active {
			color: var(--brand);
		}
	}

	&__socials {
		display: flex;
		gap: 0.5rem;
		justify-content: center;
		align-items: center;
		font-size: 1.25rem;
		transition: all 0.3s ease;
		margin-top: 1rem;

		@include respond(sm) {
			justify-content: end;
		}
	}

	&__social {
		color: var(--white);
		width: 30px;
		height: 30px;

		:hover {
			color: var(--brand);
		}
	}

	&__copyright {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		color: var(--text);
		font-size: 0.75rem;
	}
}
