@use '../abstrats' as *;

.team-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	border: 1px solid var(--white);
	gap: 1rem;
	padding: 2rem 0;
	background-image: var(--gradient-card);
	transition: all 0.3s ease;

	&:hover {
		transform: scale(1.05);

		/* & .team-card__name {
			background-image: var(--gradient-brand--hover);
		} */
	}

	&__image-wrapper {
		width: 100px;
		height: 100px;
	}

	&__image {
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}

	&__name {
		color: var(--brand);
		/* background-color: var(--brand);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent; */
		
	}

	&__role {
		color: var(--text);
	}

	&__socials {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: baseline;
		gap: 1rem;
		font-size: 1.5rem;
		color: var(--white);
	}
}
