@use '../../abstrats' as *;

.about-intro {
	background-image: var(--gradient-section);

	&__container {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__heading {
		text-align: center;
	}

	&__title {
		color: var(--white);
	}

	&__flex-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		@include respond(sm) {
			gap: 2rem;
			flex-direction: row;
		}

		@include respond(md) {
			gap: 3rem;
		}
	}

	&__text-wrapper {
		flex: 1;
		height: auto;
	}

	&__text {
		color: var(--text);
		margin-bottom: 1rem;

	}

	&__image {
		max-width: 400px;
		height: auto;
		position: relative;
		flex: 1;
		border: 1px solid var(--white);
		margin: 0 auto 1rem;
		display: flex;

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-image: var(--gradient-image-grey);
		}

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__bottom {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	&__bottom-text {
		
		color: var(--text);
		margin-bottom: 4rem;
	}

	&__stats {
		max-width: 1200px;
	}
}
